* {
	margin: 0px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.header {
    background-color: #0000ff;
}

.nav {
    background-color: #800080;
    text-align: center;
}

.main {
    background-color: #ffd700;
    float: left;
    max-width: 76%;
    text-align: center;
    display: inline-block;
    height: 285px;
    overflow: hidden;
}


.aside {
    background-color: #808080;
    text-align: center;
    height: 285px;
    display: table;
}

.footer {
    background-color: #00ffff;
    float: left;
    text-align: center;
    clear: both;
}