* {
    margin: 0px;
    padding: 0px;
    background-color: red;
}

a {
    text-decoration: none;
    text-align: center;
    padding: 5px;
    font-size: 24px;
}

.menu {
    background-color: #000000;
    color: #ffffff;
}