* {
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	list-style-type: none;
	
}

html {
	font-family: "Lato", helvetica, sans-serif;
}

body {
	background-color: #FAFAFA;
}

div {
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	background-color: #ffffff;
	color: #0D0D0D;
	font-family: "Lato", sans-serif;
	letter-spacing: 1px;
	overflow: hidden;
}

li {
	display: inline;
	float: right;
	margin-right: 20px;
}

li a {
	display: block;
	padding: 15px;
	text-align: center;
}

li a:hover {
	color: #FBE106;
	cursor: pointer;
}

li a:active {
	color: #000000;
	background-color: #FFFFFF;
}

.banner {
	width: 100%;
	height: 100%;
	position: relative;
}

.subtitle {
	font-family: "Oswald", sans-serif;
	text-align: center;
	color: #FFFFFF;
	font-weight: 300;
	font-size: 30px;
	padding: 30px;
	text-transform: uppercase;
	margin-bottom: 15px;
	letter-spacing: 2px;
}

.title {
	text-align: center;
}
.title h1{
	font-family: "Oswald", sans-serif;
	font-size: 40px;
    color: #ffffff;
    margin-top: 0px;
    padding-bottom: 30px;
    font-weight: 300px;
    letter-spacing: 10px;
}



/*-----------------Personal Information-------------------------*/
.avatar {
	margin: 0px auto;
	text-align: center;
}

.avatar img {
	border: 8px solid #ffffff;
	height: 300px;
	float: left;
	padding: 3px;
	border-radius: 5%;
	display: inline;
}

.col {
	position: relative;
	margin-top: 30px;
}

.col-width {
	width: 33.33333333%;
	float: left;
	position: relative;
	min-height: 1px;
	padding-left: 30px;
	padding-right: 15px;
}
.person-about h3 {
	display: block;
	float: left;
	margin-left: 50px;
	margin-right: 30px;
}

.about-subtitle {
	color: #00bcd4;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.person-about p {
	font-family: "Lato", sans-serif;
	color: #727272;
	font-size: 14px;
	line-height: 28px;
	margin-bottom: 35px;
	margin-left: 50px;
	float: left;
}

.person-about h5 {
	border-bottom: 1px solid #eeeeee;
	color: #727272;
	font-size: 14px;
	margin-bottom: 12px;
	padding-bottom: 12px;
	margin-left: 50px;
}

.person-about h5 span {
	display: inline-block;
	min-width: 70px;
}

/*-----------------Footer--------------------*/
footer {
	position: absolute;
	bottom: 0px;
	display: block;
	background-color: red;
}